.concept {
  background-color: rgba(255, 255, 255, .05);
  border-radius: 5px;
  color: white;
  padding: 20px;
  transition: transform .3s ease-in-out;

  &__title {
    font-family: "Harry Potter";
  }

  &__content {
    margin-top: 16px;
  }

  &:hover {
    background-color: rgba(255, 255, 255, .07);
    transform: scale(1.1);
  }
}