.home {
  align-items: center;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;

  &__title {
    animation: glowingShadow 3s linear 1s infinite;
    color: white;
    font-size: 72px;
    letter-spacing: 1px;
  }

  &__latest {
    display: flex;
    justify-content: center;
    margin: 48px -20px 0;
    text-align: center;
  }

  &__concept {
    margin: 0 20px;
  }
}

@keyframes glowingShadow {
  0% {
    text-shadow: 0 0 5px blue;
  }
  50% {
    text-shadow: 0 0 50px blue;
  }
  100% {
    text-shadow: 0 0 5px blue;
  }
}